<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!--Main Settings-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/simplenn_test</property>
        <property name="connection.username">usr</property>
        <property name="connection.password">pass</property>
        <!--Main Settings-->
        
        <!--Cache Settings-->
<!--        <property name="hibernate.cache.region_prefix">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>-->
<!--        &lt;!&ndash; enable second level cache and query cache &ndash;&gt;-->
<!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->
<!--        <property name="hibernate.cache.use_query_cache">true</property>-->
<!--        <property name="net.sf.ehcache.configurationResourceName">/cache/ehcache.xml</property>-->
        <!--Cache Settings-->


        <!--        Other settings      -->
        <property name="connection.pool_size">1</property>
        <property name="hibernate.show_sql">true</property>
        <!--        <property name="connection.autocommit">true</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <!--        Other settings      -->


        <!--        Mapping Entities        -->
        <mapping resource="HibernateDevelopersEntity.hbm.xml"/>
        <mapping resource="Debeloper.hbm.xml"/>
        <!--        Mapping Entities        -->


    </session-factory>
</hibernate-configuration>